@model AddProductVM

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow">
                <div class="card-header bg-warning">
                    <h5 class="mb-0">Edit Product</h5>
                </div>

                <div class="card-body">
                    <form asp-controller="Admin" asp-action="EditProduct" method="post">

                        <div class="mb-3">
                            <label class="form-label">Name</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Price</label>
                            <input asp-for="Price" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Description</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Category</label>
                            <select asp-for="CategoriId" class="form-select">
                                @foreach (var c in ViewBag.Categories)
                                {
                                    <option value="@c.Id"
                                            selected="@(c.Id == Model.CategoriId)">
                                        @c.Name
                                    </option>
                                }
                            </select>
                        </div>

                        <button type="submit" class="btn btn-warning w-100">
                            Update
                        </button>

                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
